// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Vue WYSIWYG
@import "~vue-wysiwyg/dist/vueWysiwyg.css";

body {
  color: #3a434c;
  font-size: 16px;
  // background: linear-gradient(
  //   360deg
  //   , rgb(160 86 208 / 80%) 8%, rgba(130, 69, 234, 0.13) 35%, rgba(130, 69, 234, 0) 100%);
  // background: linear-gradient(
  //   180deg
  //   , rgba(189, 85, 255, .40) 8%, rgba(130, 69, 234, 0.13) 35%, rgba(130, 69, 234, 0) 100%);
}

h1, h2, h3, h4, h5 {
  font-family: 'Comfortaa', cursive;
}

.page-header {
  position: relative;
  
  h1 {
    padding-left: 64px;
    border-radius: 10px;
    padding-top: 8px;
    background-color: white;
//     background: linear-gradient(
// 270deg
// , #bd55ff00 0%, #8245eac2 51%, #8245ea 100%);
    background: linear-gradient(
270deg
, #bd55ff00 0%, #8245eac2 51%, #69b4ff 100%);
    color: white;
    font-size: 28px;
    padding-bottom: 8px;
  }

  // svg.header-circle-a {
  //   position: absolute;
  //   top: -24px;
  //   left: -24px;
  //   z-index: 0;
  //   opacity: 1;
  // }

  svg.header-circle-b {
    position: absolute;
    top: -24px;
    left: -26px;
    z-index: 0;
    opacity: 1;
  }
}

/* Bootstrap Overrides */
.hidden {
  display: none;
}

nav.navbar {
  border-bottom: 8px solid #b082ff;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.footer-container {
  background-color: #2b1e3c;
  color: white;
}

.btn-tiny {
  padding: 0 5px;
}

.btn-default {
  color: #333;
  background-color: #eee;
  border-color: #ccc;
}

.btn-primary {
  background-color: #b082ff;
  border-color: #aa78ff;
}

.white-space-nw {
  white-space: nowrap !important;
}

@media (min-width: 1200px) {
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1300px;
}
}

/* Material Icon Overrides */

.btn {
  .material-icons {
    vertical-align: middle;
    font-size: 21px;
  }
}

.vc-container {
  transform: scale(0.95);
  top: -8px;
  left: -9px;
}

/* Colors */

.bg-mat-primary {
  // background-color: #8245ea !important;
  background: rgb(189,85,255);
  background: linear-gradient(90deg, rgba(189,85,255,1) 0%, rgba(130,69,234,1) 51%, rgba(130,69,234,1) 100%);
}


.bg-mat-secondary {
  background-color: #b896f2 !important;
}

.bg-mat-tertiary {
  background-color: #efe6fc !important;
}

.container-posts {
  padding: 24px;
}

#blog-aside {
  .post {
    border-bottom: 1px solid lightgray;
    margin-bottom: 24px;
    padding-bottom: 16px;
  }
}

.form-group--error {
  animation-name: shakeError;
  animation-fill-mode: forwards;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  
}

.form-group--error label,
label.form-group--error {
  color: #f04124; 
}

.form-group--error input,
.form-group--error textarea,
.form-group--error select,
.form-group--error input:focus,
.form-group--error input:hover {
border-color: #f79483; 
}

/* Animations */

@keyframes shakeError {
  0% {
    transform: translateX(0); }
  15% {
    transform: translateX(0.375rem); }
  30% {
    transform: translateX(-0.375rem); }
  45% {
    transform: translateX(0.375rem); }
  60% {
    transform: translateX(-0.375rem); }
  75% {
    transform: translateX(0.375rem); }
  90% {
    transform: translateX(-0.375rem); }
  100% {
    transform: translateX(0); } 
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade_in_only-enter-active {
  transition: opacity 1s;
}
.fade_in_only-enter /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.color-faze {
  animation-name: colorFazeAnimation;
  animation-fill-mode: forwards;
  animation-duration: .30s;
  animation-timing-function: ease-in-out;
}

@keyframes colorFazeAnimation {
  0% {
    color: #b082ff;
    // transform: scale(.5, .5);
  }

  100% {
    color: #212529;
    // transform: scale(1, 1);
  } 
}

.scale-in {
  display: revert !important;
  animation-name: slideLeftAnimation;
  animation-fill-mode: forwards;
  animation-duration: .1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideLeftAnimation {
  0% {
    opacity: 0;
    // transform: scale(.5, .5);
  }

  100% {
    opacity: 1;
    // transform: scale(1, 1);
  } 
}

/* Base Pages */

.page-contents-container {
  min-height: 750px;
}

/* UI Interactions */

.clickable:hover {
  cursor: pointer;
}

/* Children */

.child-card {
  transition: 1s;
  border: 1px solid lightgray;
  background-color: white;

  .photo {
    border-bottom: 1px solid lightgray;
    min-height: 250px;
    max-height: 250px;

    img, span {
      max-height: 200px;
      border-radius: 130px;
      max-width: 200px;
      margin-top: 25px;
      font-size: 200px;
      color: #333333;
    }
  }

  .name {
    min-height: 80px
  }
}

.pagination-row {
  background: #ece1ff !important;
}

.table {
  tr {
    background-color: white;
  }
}

/* UI Components */
.card-horizontal {
  position: relative;
  display: flex;
  border: 1px solid lightgray;
  background-color: white;

  h1 {
    font-size: 20px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 16px;
    margin-bottom: 0;
  }

  .left-box {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    border-right: 1px solid lightgray;
    flex-direction: column;

    .material-icons {
      font-size: 64px;
    }

    .pending {
      position: absolute;
      background-color: #ffffff;
      font-weight: bold;
      border-radius: 50px;
      padding: 0 7px;
      border: 1px solid lightgray;
    }
  }

  .right-box {
    flex: 3;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .action-box {
    flex: .25;
    
    .icon {
      padding-top: 8px;
      padding-right: 8px;
    }
  }
}

/* Child View Page */

.child-hero-img {
  border-top: 10px solid #d8d8d8;
  border-bottom: 10px solid #c09dd6;
  border-left: 10px solid silver;
  border-right: 10px solid #a582c8;
}

.parent-icon {
  position: absolute;
  top: 76%;
  right: 10%;
  background-color: white;
  padding: 10px 15px;
  border-radius: 50px;
  border: 1px solid #d8d8d8;
}

@include media-breakpoint-up(sm) {
  .child-card {
    margin-bottom: 40px;
  }

}

@include media-breakpoint-up(md) {
  .child-card {
    margin-bottom: 40px;
  }

  .child-hero-img {
    min-height: unset;
  }
}



@include media-breakpoint-up(lg) {
  .child-hero-img {
    min-height: 210px;
  }
}

@include media-breakpoint-up(xl) {
  .child-hero-img {
    min-height: 295px;
  }
}

